<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="logs" value="E:\GOGOR\bloc 2\CSharp Deuxieme Annee\Soins2023\Soins2023\logs.json"/>
  </appSettings>
</configuration>